<div class="row s_main">
    <div class="span4 s_left">
        <div class="row s_notice_image">
        </div>
        <div class="row" style="text-align: center">
            <img src="view/common/image/ajax-loader-big.gif" style="margin-top: 120px; margin-bottom: 20px" />
            <p>
                설치된 SSLplus 클라이언트 모듈을
                <br />
                검사하는 중입니다.<br />
                잠시만 기다려 주시기 바랍니다.</p>
        </div>
    </div>
    <div class="span6 s_right">
        <h4>
            동부화재 클라이언트 확인중</h4>
        <ul class="imgbullet">
            <li><span>&nbsp;</span>처음 접속하시는 분은 [보안경고] 창이 표시되면 반드시 '설치'를 누르셔서 프로그램을 설치하셔야 합니다.</li>
            <li><span>&nbsp;</span>동부화재 업무 환경은 익스플로러(IE)8에 최적화 되어 있습니다.</li>
            <li><span>&nbsp;</span>패스워드 문의 및 사용 문의 HelpDesk : 02-2262-1241.</li>
        </ul>
        <div class="row s_area_cldn  type2 s_pl_70 s_pt_90">
            <div class="s_pt_90">
                <button class="btn s_cldn windows">
                    <img src="view/common/image/client_windows.png"><span>수동설치</span></button>
                <button class="btn s_cldn manual">
                    <img src="view/common/image/manual.png"><span>설치 방법</span></button>
                <button class="btn s_cldn faq">
                    <img src="view/common/image/manual.png"><span>FAQ</span></button>
            </div>
        </div>
    </div>
</div> 