<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a title="WeGuardia™ SSLplus" class="brand s_top_image" href="#"></a>
			<div class="seperator"></div>
		</div>
	</div>
</div>

<div class="row s_main">
	<div class="offset3 span4" style="margin-top: 170px; padding-left: 30px; text-align:center">
		<img src="view/common/image/ajax-loader-big.gif" style="margin-bottom: 20px" />
		<div class="control">SSL VPN에 접속 중입니다. 잠시만 기다려주세요...</div>
	</div>
</div>