<div id="wrap">
  <div id="login_wrap">
    <!-- header S-->
    <div id="login_h1" >
      <h1><img src="view/ice/images/login_h1.gif" alt="교육(행정)기관 원격업무지원 서비스" /></h1>
    </div>
    <!--// header E-->
    <!-- content visual S -->
    <div id="login_visual">
      <div class="banner">
      <p class="resol1"><a href="view/ice/resources/vaccine.pptx"><img src="view/ice/images/icon_resolution.gif" alt="해결방안" border="0" /></a></p>
      <p class="resol2"><a href="view/ice/resources/winfw-1.pptx"><img src="view/ice/images/icon_resolution.gif" alt="해결방안" border="0" /></a></p>
      </div>
    </div>
    <!-- //content visual E -->
    <!-- content login S -->
    <div id="login_content">
      <div id="login_area">
      <h2><img src="view/ice/images/01.gif" alt="로그인" border="0" /></h2>
      <button id="btn_lost_password">암호 분실</button>

      <form id="login_form">
      	<fieldset>
    			<div id="area_id" class="control-group p8">
    				<label class="control-label" for="txt_id"><img src="view/ice/images/02.gif" alt="나이스 ID" border="0" /></label>
    				<div class="controls">
    					<input class="input-large w110" id="txt_id" name="txt_id" type="text"/>
    					<span class="help-block" style="display:none"></span>
    				</div>
    			</div>
    			
    			<div id="area_password" class="control-group p8">
    				<label class="control-label" for="txt_password"><img src="view/ice/images/03.gif" alt="VPN PW" border="0" /></label>
    				<div class="controls">
    					<input class="input-large w110" id="txt_password" name="txt_password" type="password"/>
    					<span class="help-block" style="display:none"></span>
    				</div>
    			</div>
    			<div id="area_error" class="control-group">
    				<div class="controls">
    					<span class="help-block" style="display:none" id="lbl_error"></span>
    				</div>
    			</div>
          <div class="form-actions login_btn">
            <button class="btn btn-primary" id="btn_login_sga">LOGIN</button>
          </div>
        </fieldset>
		  </form>

      </div>
      <div id="login_notice">
        <h2><img src="view/ice/images/login_notice.gif" alt="공지사항" border="0" /></h2>
        <p class="s_notice_content"></p>
      </div>
      <div id="bnr3"><a href="view/ice/page/vpn_guide.html" target="_blank"><img src="view/ice/images/login_banner01.gif" alt="이용안내" border="0"/></a><a href="view/ice/page/vpn_service.html" target="_blank"><img src="view/ice/images/login_banner02.gif" alt="서비스 소개" border="0" /></a><img src="view/ice/images/login_banner03.gif" alt="콜센터" border="0" />
		
    </div>
    
    <!-- content caution S -->
    <div id="caution_area">
      <p><b>이 시스템은 허가된 사용자 외에는 접속할 수 없습니다.</b></p>
      <p>부당한 방법으로 허가 없이 시스템에 접속하거나, 자료의 삭제, 변경, 유출 시에는 국가법령 및 관련 규정에 따라 처벌 받을 수 있습니다. </p>
    </div>
  </div>
    <!-- //content login E -->
    <!-- //content login s -->
</div>
  <!-- FooterS -->
  <div id="footer_wrap">
    <div id="footer_area">
      <p><img src="view/ice/images/bn_inchon.gif" class="logo"/>Copyright@2012 Future Systems,Inc. All Rights Reserved.</p>
    </div>
  </div>
  <!-- //Footer E -->
</div>

<style>
div#preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}
</style>

<div id="preloaded-images">
  <img src="view/ice/images/barbg.png" width="1" height="1" />
  <img src="view/ice/images/bg.png" width="1" height="1" />
  <img src="view/ice/images/logo.png" width="1" height="1" />
  <img src="view/ice/images/logout.png" width="1" height="1" />
  <img src="view/ice/images/service.png" width="1" height="1" />
  <img src="view/ice/images/information.png" width="1" height="1"/>
  <img src="view/ice/images/icon_user_control.png" width="1" height="1"/>
  <img src="view/ice/images/icon_bookmark.png" width="1" height="1"/>
  <img src="view/ice/images/bookmark.png" width="1" height="1"/>
  <img src="view/ice/images/bn_inchon.gif" width="1" height="1" />
  <img src="view/ice/images/user_control.png" width="1" height="1" />
  <img src="view/ice/images/ajax-loader-ice.gif" width="1" height="1" />
  <img src="view/ice/image/alert-small.gif" width="1" height="1" />
  <img src="view/ice/image/alert-red-small.png" width="1" height="1" />
  <img src="view/ice/image/app_web.png" width="1" height="1" />
  <img src="view/ice/image/app_windows.png" width="1" height="1" />
</div>
