<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>교육(행정)기관 원격업무지원 서비스</title>
<link rel="stylesheet" type="text/css" href="../css/vpn.css" />
</head>

<body>
<div id="popWrap">	
	<div id="popWin">
		
		<h2><img src="../images/pop_h2_ti.gif" alt="eVPN 서비스소개" /></h2>
		<div id="popupArea">
			<div id="popupAreain">
				<h3>eVPN이란?</h3>
				<p class="pad_l21">교육(행정)기관용 재택업무지원시스템으로, 교직원들의 일하는 방식을 혁신하고, 업무효율성을 증대시키기 위해 전자결재나<br />메일 등의 업무를 사무실에서와 마찬가지로 집 또는 출장지에서도 처리할 수 있도록 지원하는 SSL VPN기술 기반의 서비스입니다.</p>
				<p class="txtpad01">※ SSL VPN (Secure Sockets Layer Virtual Private Network ): 웹 브라우저와 서버 간의 통신에서 정보를 암호화함으로써<br />&nbsp;&nbsp;&nbsp;&nbsp;장소나 단말의 종류와 관계없이 내부 네트워크의 시스템 자원을 안전하게 사용할 수 있도록 함</p>

				<h3>eVPN 서비스 특징</h3>
				<p class="txtpad02"><strong>언제 어디서나 연결이 가능합니다.</strong><br />- 온라인에 연결되어 있고 인증서 및 접속을 위한 계정이 있으면 전용소프트웨어 없이 웹브라우저로 손쉽게 접속가능</p>
				<p class="txtpad02"><strong>보안이 우수하고 안전합니다.</strong><br />- 최신의 암호화 기술을 통해 이용자의 PC에서부터 서버까지의 완벽한 보안 서비스 제공</p>
				<p class="txtpad03"><strong>언제 어디서든 상담서비스를 받을 수 있습니다.</strong><br />- 교직원을 위한 콜센터를 통해 언제 어디서든 상담서비스 가능 (콜센터 번호 : 1600-2226)</p>

				<h3>이용대상 기관 및 이용자</h3>
				<p class="txtpad02"><strong>이용대상 기관</strong><br />- 교육과학기술부, 16개 시도교육청 및 지역교육지원청, 기타 교육지원기관(도서관, 연수원 등)</p>
				<p class="pad_l21"><strong>이용자</strong><br />- 이용대상 기관의 교직원 및 이에 준하는 근무자로 원격업무가 필요한 자</p>
				<p class="txtpad01">※ 이용대상기관 및 이용자는 변경 될 수 있습니다. </p>

				<h3>이용업무 및 이용형태</h3>
				<p class="txtpad02"><strong>이용업무</strong><br />국가법령 및 관련 규정에 따라 소속 직원을 원격근무하게 할 수 있는 업무로, 보안대책이 충분하거나 보안대책을 필요로 하지<br />아니하는 업무 및 반드시 사무실에서 근무를 행하지 아니하여도 교육(행정)업무 목적의 달성에 지장이 없다고 인정되는 업무<br />- 민감한 업무는 원격근무 이용을 지양하여 기밀유출 요인을 최소화 권고함(국정원 권고사항)</p>
				<p class="txtpad02"><strong>이용형태</strong><br />온라인 원격근무란 정보통신망을 이용하여 업무의 전체 또는 일부를 소속기관 사무실 이외의 온라인 환경에서 수행하는 업무형태로서<br />재택근무, 파견근무, 재택업무 등을 포함하는 개념입니다.<br />- 재택근무: 자택에서 업무공간을 마련하고 업무에 필요한 사무환경과 정보통신망을 이용하여 근무하는 형태<br />- 파견근무: 일정기간 타 기관 파견 또는 타 시설에 사무환경과 정보통신망을 이용하여 근무하는 형태<br />- 재택업무: 자택에서 근무시간외에 정보통신망을 이용하여 유동적으로 업무를 수행하는 형태</p>

			</div>
		</div>

	</div>
</div>

</body>
</html>
