<div class="row s_main">
    <div class="span4 s_left">
        <div class="row s_notice_image">
        </div>
        <div class="row" style="text-align: center">
            <img src="view/common/image/ajax-loader-big.gif" style="margin-top: 120px; margin-bottom: 20px" />
            <p>
                설치된 SSLplus 클라이언트 모듈을
                <br />
                검사하는 중입니다.</p>
        </div>
    </div>
    <div class="span6 s_right">
        <h4>
            SSLplus 클라이언트 확인중</h4>
        <ul class="imgbullet">
            <li><span>&nbsp;</span>처음 접속하시는 분은 [보안경고] 창이 표시되면 반드시 '설치'를 누르셔서 프로그램을 설치하셔야 합니다.</li>
			<li><span>&nbsp;</span>혹은 사용하시는 운영체제에 맞는 클라이언트 프로그램을 내려받아서 설치하세요.</li>
        </ul>
        <div class="row s_area_cldn type2">
            <div class="span1 s_w420">
                <h4 class="s_no_underline s_no_margin">
                    <small>클라이언트 다운로드</small></h4>
                <div class="s_mt_22">
                    <button class="btn s_cldn windows">
                        <img src="view/common/image/client_windows.png"><span>윈도우</span></button>
                    <button class="btn s_cldn linux">
                        <img src="view/common/image/client_linux.png"><span>리눅스</span></button>
                    <button class="btn s_cldn ios">
                        <img src="view/common/image/client_ios.png"><span>iOS</span></button>
                    <button class="btn s_cldn android">
                        <img src="view/common/image/client_android.png"><span>안드로이드</span></button>
                </div>
            </div>
            <p style="clear: both">
                &nbsp;</p>
            <div class="span1 s_w100 s_cldn_cont">
                <h4 class="s_no_underline s_no_margin">
                    <small>매뉴얼 보기</small></h4>
                <div class="s_mt_22">
                    <button class="btn s_cldn manual">
                        <img src="view/common/image/manual.png"><span>매뉴얼</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
